table {
    border-style: dashed;
    border-color: white;
    background-color: navy;
}
body {
    background-color: gray;
}
h1 {
    color: blue;
}
td {
    text-align: center;
    color:azure
}
a {
    color: wheat
}
.milestone {
    font-size: 48px;
    text-align: center;
}
.mag {
    text-align: center;
}
img {
    width: 400px
}
h3 {
    color:navy
}
.carousel {
    width: 400px
}